# https://zhuanlan.zhihu.com/p/52885189

target/
.idea
*.iml


## for obsidian
manual/.obsidian/


## for gradle
**/build/
!src/**/build/
build/
.gradle
buildSrc/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache


dependency-reduced-pom.xml
