import com.duitang.base.core.lang.builder.ObjectBuilder;

{{#imports}}
import {{.}}
{{/imports}}

/**
* @author carl
*/
@Getter
@ToString
public class {{name}}{

{{#fields}}
  private final {{showClassname}} {{name}};
{{/fields}}
  private {{name}} (Builder builder) {
{{#fields}}
    this.{{name}} = builder.{{name}};
{{/fields}}
  }

  public static class Builder implements ObjectBuilder<{{name}}> {

    {{#fields}}
      private {{showClassname}} {{name}};
    {{/fields}}

    {{#fields}}
      public Builder {{name}} ({{showClassname}} {{name}}) {
        this.{{name}} = {{name}};
        return this;
      }
    {{/fields}}

      @Override
      public {{name}} build() {
        return new {{name}}(this);
      }
  }
}