<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <appender name="custom" class="com.ysz.dm.logging.logback.MyTstAppender">
    <httpUrl>http://localhost:8080/log</httpUrl>
    <carl>abc</carl>
  </appender>


  <appender name="origin" class="de.siegmar.logbackgelf.GelfUdpAppender" additivity="false">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <graylogHost>std-1.gl.infra.duitang.net</graylogHost>
    <graylogPort>12201</graylogPort>
    <maxChunkSize>8192</maxChunkSize>
    <useCompression>true</useCompression>
    <encoder class="de.siegmar.logbackgelf.GelfEncoder">
      <!--<originHost>localhost</originHost>-->
      <includeRawMessage>false</includeRawMessage>
      <includeMarker>true</includeMarker>
      <includeMdcData>true</includeMdcData>
      <includeCallerData>false</includeCallerData>
      <includeRootCauseData>false</includeRootCauseData>
      <includeLevelName>false</includeLevelName>
      <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class{16} %line] - %msg%n</pattern>
      </shortPatternLayout>
      <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class{16} %line] - %msg%n</pattern>
      </fullPatternLayout>
      <numbersAsString>false</numbersAsString>
      <staticField>app:dm-logging</staticField>
      <staticField>env:release</staticField>
    </encoder>
  </appender>


  <appender name="GrayLog" class="com.ysz.dm.logging.graylog.GelfUdpAppender" additivity="false">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
<!--    <graylogHost>std-1.gl.infra.duitang.net</graylogHost>-->
    <graylogHosts>
      10.200.48.13,10.200.48.14,10.200.48.15
    </graylogHosts>
    <graylogPort>12201</graylogPort>
    <maxChunkSize>500</maxChunkSize>
    <useCompression>false</useCompression>
    <encoder class="com.ysz.dm.logging.graylog.GelfEncoder">
      <!--<originHost>localhost</originHost>-->
      <includeRawMessage>false</includeRawMessage>
      <includeMarker>true</includeMarker>
      <includeMdcData>true</includeMdcData>
      <includeCallerData>false</includeCallerData>
      <includeRootCauseData>false</includeRootCauseData>
      <includeLevelName>false</includeLevelName>
      <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class{16} %line] - %msg%n</pattern>
      </shortPatternLayout>
      <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class{16} %line] - %msg%n</pattern>
      </fullPatternLayout>
      <numbersAsString>false</numbersAsString>
      <staticField>app:dm-logging</staticField>
      <staticField>env:release</staticField>
    </encoder>
  </appender>

  <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/Users/carl/tmp/useless/main.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%class{16} %line] - %msg%n</Pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/Users/carl/tmp/useless/main.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>200MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>
  <root level="INFO">
    <!--    <appender-ref ref="main"/>-->
    <appender-ref ref="GrayLog"/>
    <!--    <appender-ref ref="origin"/>-->
  </root>
</configuration>
